version: "3.8"

services:
  backend:
    build: ./backend
    container_name: backend_app
    ports:
      - "3000:3000"
    depends_on:
      - mongo

  mongo:
    image: mongo
    container_name: mongo_db
    ports:
      - "27017:27017"
